<a href="https://colab.research.google.com/github/rizwannitk/newchrun/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Chrun")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import seaborn as sns

In [ ]:
print(sns.get_dataset_names())

In [ ]:
df=sns.load_dataset('planets')

In [ ]:
pip install dtale

In [ ]:
import dtale

In [ ]:
import dtale.app as dtale_app

dtale_app.USE_COLAB = True

In [ ]:
dtale.show(df, ignore_duplicate=True)

In [ ]:
pip install sweetviz

In [ ]:
import sweetviz

In [ ]:
my_report = sweetviz.analyze(df)

In [ ]:
my_report.show_html('Report.html')

In [ ]:
!pip install pandas-profiling==2.7.1

In [ ]:
import pandas_profiling
import numpy as np
import pandas as pd

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
type(df)

In [ ]:
profile =pandas_profiling.ProfileReport(df)

In [ ]:
profile.to_widgets()

In [ ]:
pip install geonames

In [ ]:
pip install tzwhere

In [ ]:


tzwhere = tzwhere.tzwhere()
timezone_str = tzwhere.tzNameAt(37.3880961, -5.9823299) # Seville coordinates
timezone_str
#> Europe/Madrid

In [188]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)

In [ ]:
pip install timezonefinder

In [186]:
import numpy as np
import pandas as pd
import io
import requests
import pickle

In [ ]:
url="https://ourairports.com/data/airports.csv"

In [ ]:
df=pd.read_csv(url)

In [ ]:
df.info()

In [ ]:
df.head()
df['iata_code'].astype(str).map(len)
is_valid =  df['iata_code'].astype(str).map(len)==3
valid_airport=df[is_valid]

In [ ]:
valid_airport.info()

In [ ]:
valid_airport['iata_code'].value_counts()
valid_airport.dtypes
valid_airport_new=valid_airport[['iso_region','iso_region','iata_code','latitude_deg','longitude_deg']]

In [ ]:
valid_airport_new=valid_airport_new.drop_duplicates()

In [ ]:
valid_airport_new['iata_code'].value_counts()

valid_airport_new[valid_airport_new['iata_code']=='KMM']

In [ ]:
valid_airport_noduplicate = valid_airport_new.drop_duplicates(subset=['iata_code'])

In [ ]:
valid_airport_noduplicate['iata_code'].value_counts()>1

In [ ]:
valid_airport_noduplicate.dtypes

In [ ]:
valid_airport_noduplicate["timezone"] = np.nan
valid_airport_noduplicate["offsetseconds"]=np.nan

In [ ]:
array = np.array([(12.9141,74.8560), (49.2827,-123.1207)])

In [ ]:
type(array)

In [ ]:
df = pd.DataFrame(array,columns = ['LAT', 'LONG'])

In [ ]:
type(df)

In [191]:
def foo(df1):
    tf = timezonefinder.TimezoneFinder()
    for index, row in df1.iterrows():
                                     #print(row['latitude_deg'], row['longitude_deg'])
                                     timezone_str = tf.certain_timezone_at(lat=row['latitude_deg'], lng=row['longitude_deg'])
                                     if timezone_str is None:
                                     #                        print ("Could not determine the time zone")
                                                              df1.at[index,'timezone'] = np.nan
                                     else:
                                          df1.at[index,'timezone'] = timezone_str
                                          try :
                                                timezone = pytz.timezone(timezone_str)
                                                dt = datetime.datetime.utcnow()
                                                df1.at[index,'offsetseconds'] =timezone.utcoffset(dt).seconds
                                          except :
                                                  df1.at[index,'offsetseconds'] = np.nan
                                          
                                         # Display the current time in that time zone
                                         #timezone = pytz.timezone(timezone_str)
                                         #dt = datetime.datetime.utcnow()
                                         #print ("The time in %s is %s" % (timezone_str, dt + timezone.utcoffset(dt)))
    return(df1)

In [192]:
valid_airport_append=foo(valid_airport_noduplicate)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [193]:
valid_airport_append[valid_airport_append['iata_code']=='DOH']

      iso_region iso_region iata_code  ...  longitude_deg    timezone offsetseconds
39974      QA-DA      QA-DA       DOH  ...      51.608056  Asia/Qatar       10800.0

[1 rows x 7 columns]

In [194]:
final_airport=valid_airport_append.dropna()

In [ ]:
valid_airport_append.isnull().sum().sort_values(ascending = False)

In [195]:
 final_airport.isnull().sum().sort_values(ascending = False)

offsetseconds    0
timezone         0
longitude_deg    0
latitude_deg     0
iata_code        0
iso_region       0
iso_region       0
dtype: int64

In [196]:
final_airport

      iso_region iso_region  ...          timezone  offsetseconds
224       MH-UTI     MH-UTI  ...    Pacific/Majuro        43200.0
442        US-FL      US-FL  ...  America/New_York        72000.0
599        US-AK      US-AK  ...      America/Nome        57600.0
678        US-CO      US-CO  ...    America/Denver        64800.0
1095       US-TX      US-TX  ...   America/Chicago        68400.0
...          ...        ...  ...               ...            ...
57954      CN-21      CN-21  ...     Asia/Shanghai        28800.0
57955      CN-22      CN-22  ...     Asia/Shanghai        28800.0
57956      CN-21      CN-21  ...     Asia/Shanghai        28800.0
57957      CN-22      CN-22  ...     Asia/Shanghai        28800.0
57958      CN-21      CN-21  ...     Asia/Shanghai        28800.0

[9076 rows x 7 columns]

In [197]:
final_airport.to_excel('output1.xlsx')

In [ ]:
def open_pickle():
    savename = 'airporttimzone'
    try:
        with open(savename + '.pkl', 'rb') as f:
            holder = pickle.load(f)
    except FileNotFoundError:
        print('Cannot find it!')

    framed =  pd.DataFrame.from_dict(holder)

    writer = ExcelWriter(savename + '.xlsx', engine='xlsxwriter')
    framed.to_excel(writer)
    writer.save()

    return(framed)

a= open_pickle()

In [ ]:
dt = datetime.datetime.utcnow()

In [ ]:
dt

In [ ]:
timezone_str='Asia/Kolkata'
timezone = pytz.timezone(timezone_str)
test=(timezone.utcoffset(dt))
test.seconds

In [ ]:
import datetime
import timezonefinder, pytz

tf = timezonefinder.TimezoneFinder()

foo(df)

# From the lat/long, get the tz-database-style time zone name (e.g. 'America/Vancouver') or None
timezone_str = tf.certain_timezone_at(lat=12.9141, lng=74.8560)

if timezone_str is None:
    print ("Could not determine the time zone")
else:
    # Display the current time in that time zone
    timezone = pytz.timezone(timezone_str)
    dt = datetime.datetime.utcnow()
    print ("The time in %s is %s" % (timezone_str, dt + timezone.utcoffset(dt)))

In [ ]:
loc_dt = eastern.localize(datetime(2002, 10, 27, 6, 0, 0))

In [ ]:
ams_dt = loc_dt.astimezone(amsterdam)

In [ ]:
dt = datetime.datetime.now()
timezone.utcoffset(dt)