<a href="https://colab.research.google.com/github/rizwannitk/newchrun/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Chrun")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import seaborn as sns

In [ ]:
print(sns.get_dataset_names())

In [ ]:
df=sns.load_dataset('planets')

In [ ]:
pip install dtale

In [ ]:
import dtale

In [ ]:
import dtale.app as dtale_app

dtale_app.USE_COLAB = True

In [ ]:
dtale.show(df, ignore_duplicate=True)

In [ ]:
pip install sweetviz

In [ ]:
import sweetviz

In [ ]:
my_report = sweetviz.analyze(df)

In [ ]:
my_report.show_html('Report.html')

In [ ]:
!pip install pandas-profiling==2.7.1

In [ ]:
import pandas_profiling
import numpy as np
import pandas as pd

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
type(df)

In [ ]:
profile =pandas_profiling.ProfileReport(df)

In [ ]:
profile.to_widgets()

In [ ]:
pip install geonames

In [ ]:
pip install tzwhere

In [ ]:


tzwhere = tzwhere.tzwhere()
timezone_str = tzwhere.tzNameAt(37.3880961, -5.9823299) # Seville coordinates
timezone_str
#> Europe/Madrid

In [63]:
pip install timezonefinder

Requirement already satisfied: timezonefinder in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.6/dist-packages (from timezonefinder) (1.18.5)

In [68]:
import numpy as np
import pandas as pd
import io
import requests

In [70]:
url="https://ourairports.com/data/airports.csv"

In [90]:
df=pd.read_csv(url)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57963 entries, 0 to 57962
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 57963 non-null  int64
 1   ident              57963 non-null  object
 2   type               57963 non-null  object
 3   name               57963 non-null  object
 4   latitude_deg       57963 non-null  float64
 5   longitude_deg      57963 non-null  float64
 6   elevation_ft       49860 non-null  float64
 7   continent          29191 non-null  object
 8   iso_country        57717 non-null  object
 9   iso_region         57963 non-null  object
 10  municipality       52065 non-null  object
 11  scheduled_service  57963 non-null  object
 12  gps_code           41691 non-null  object
 13  iata_code          9241 non-null   object
 14  local_code         30350 non-null  object
 15  home_link          3142 non-null   object
 16  wikipedia_link     10069 non-null  object
 17  keywords           10766 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 8.0+ MB

In [93]:
df.head()
df['iata_code'].astype(str).map(len)
is_valid =  df['iata_code'].astype(str).map(len)==3
valid_airport=df[is_valid]

In [ ]:
valid_airport.info()

In [113]:
valid_airport['iata_code'].value_counts()
valid_airport.dtypes
valid_airport_new=valid_airport[['iso_region','iso_region','iata_code','latitude_deg','longitude_deg']]

In [115]:
valid_airport_new=valid_airport_new.drop_duplicates()

In [119]:
valid_airport_new['iata_code'].value_counts()

valid_airport_new[valid_airport_new['iata_code']=='KMM']

      iso_region iso_region iata_code  latitude_deg  longitude_deg
24947      ID-PA      ID-PA       KMM      -3.66667     136.166672
29678      ID-PA      ID-PA       KMM      -7.97820     138.852005

In [135]:
valid_airport_noduplicate = valid_airport_new.drop_duplicates(subset=['iata_code'])

In [ ]:
valid_airport_noduplicate['iata_code'].value_counts()>1

In [136]:
valid_airport_noduplicate.dtypes

iso_region        object
iso_region        object
iata_code         object
latitude_deg     float64
longitude_deg    float64
dtype: object

In [172]:
valid_airport_noduplicate["timezone"] = np.nan
valid_airport_noduplicate["offsetseconds"]=np.nan

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [64]:
array = np.array([(12.9141,74.8560), (49.2827,-123.1207)])

In [ ]:
type(array)

In [65]:
df = pd.DataFrame(array,columns = ['LAT', 'LONG'])

In [ ]:
type(df)

In [177]:
def foo(df1):
    tf = timezonefinder.TimezoneFinder()
    for index, row in df1.iterrows():
                                     #print(row['latitude_deg'], row['longitude_deg'])
                                     timezone_str = tf.certain_timezone_at(lat=row['latitude_deg'], lng=row['longitude_deg'])
                                     if timezone_str is None:
                                     #                        print ("Could not determine the time zone")
                                                              df1.at[index,'timezone'] = np.nan
                                     else:
                                          df1.at[index,'timezone'] = timezone_str
                                          try :
                                                timezone = pytz.timezone(timezone_str)
                                                df1.at[index,'offsetseconds'] =timezone.utcoffset(dt).seconds
                                          except :
                                                  df1.at[index,'offsetseconds'] = np.nan
                                          
                                         # Display the current time in that time zone
                                         #timezone = pytz.timezone(timezone_str)
                                         #dt = datetime.datetime.utcnow()
                                         #print ("The time in %s is %s" % (timezone_str, dt + timezone.utcoffset(dt)))
    return(df1)

In [178]:
valid_airport_append=foo(valid_airport_noduplicate)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [179]:
valid_airport_append[valid_airport_append['iata_code']=='IXE']

      iso_region iso_region  ...      timezone  offsetseconds
54136      IN-KA      IN-KA  ...  Asia/Kolkata        19800.0

[1 rows x 7 columns]

In [180]:
valid_airport_append.isnull().sum().sort_values(ascending = False)

offsetseconds    45
timezone          2
iata_code         1
longitude_deg     0
latitude_deg      0
iso_region        0
iso_region        0
dtype: int64

In [158]:
dt = datetime.datetime.utcnow()

In [159]:
dt

datetime.datetime(2020, 10, 6, 18, 18, 53, 892398)

In [171]:
timezone_str='Asia/Kolkata'
timezone = pytz.timezone(timezone_str)
test=(timezone.utcoffset(dt))
test.seconds

19800

In [ ]:
import datetime
import timezonefinder, pytz

tf = timezonefinder.TimezoneFinder()

foo(df)

# From the lat/long, get the tz-database-style time zone name (e.g. 'America/Vancouver') or None
timezone_str = tf.certain_timezone_at(lat=12.9141, lng=74.8560)

if timezone_str is None:
    print ("Could not determine the time zone")
else:
    # Display the current time in that time zone
    timezone = pytz.timezone(timezone_str)
    dt = datetime.datetime.utcnow()
    print ("The time in %s is %s" % (timezone_str, dt + timezone.utcoffset(dt)))

In [ ]:
loc_dt = eastern.localize(datetime(2002, 10, 27, 6, 0, 0))

In [ ]:
ams_dt = loc_dt.astimezone(amsterdam)

In [ ]:
dt = datetime.datetime.now()
timezone.utcoffset(dt)